@font-face {
  font-family: 'Doodles';
  src: url('https://Callmedas69/ooval-stoodio/static/font/doodles.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Doodles', sans-serif;
  background-color: rgb(7, 0, 73);
  color: #333;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  position: relative;
  text-align: center;
  padding: 1rem;
  background-color: rgb(170, 0, 0);
  color: #fff;
  width: 100%;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 100px;
}

header h1 {
  margin: 0.5rem 0;
  font-size: 3rem;
  color: #ffffff;
}

header h2 {
  margin: 0.5rem 0;
  font-weight: 300;
  font-size: 1.5rem;
  color: #ffffff;
}

button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  margin: 0.5rem;
}

button:hover {
  background-color: #0056b3;
}

canvas {
  border: 1px solid #000;
}

.button-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: 1rem;
}

.button-group button {
  width: 100%;
}

.sliders {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.sliders input[type="range"] {
  -webkit-appearance: none;
  border-radius: 5px;
  height: 20px;
  background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);
  outline: none;
  opacity: 0.7;
}

.sliders input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

.sliders input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

.sliders input[type="range"]::-ms-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

@media (max-width: 600px) {
  .header-content {
    flex-direction: column;
  }

  .logo {
    margin-bottom: 1rem;
  }

  .button-group {
    grid-template-columns: 1fr;
  }

  .sliders input[type="range"] {
    width: 80%;
  }
}
